body{
  background-color: rgb(50,50,50);
  color: white;
}

#projects{
  background-color: rgb(55,55,55);
}

body{
  animation: fade 4s 1;
}
@keyframes fade{
  0%{
    opacity: 0
  }
  20%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.container{
  margin-bottom: 100px;
}
.row{
  margin-bottom: 3%;
}
.phoenix{
  border: 1px white solid;
  width: 200px;
  height: 200px;
}
.header{
  margin:0 4%;
  margin-bottom: 3%;
}

.imagebox{
  width: 350px;
  height: 200px;
  border: 3px white solid;
}

.imagebox:hover{
  animation: fadeIn 1s 1;
  animation-fill-mode: forwards;
  box-shadow: 0 0 10px 3px lightblue;
}

@keyframes fadeIn{
  100%{
    filter: blur(0);
  }
}

p{
  font-size: 16px;
}