body {
  animation: fade 2s 1;
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  20%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.header h2 {
  font-size: 40px;
}

p {
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  line-height: 1.5;
  word-spacing: 2px;
}

.phoenix {
  border: 1px white solid;
  width: 100%;
  max-width: 200px;
  min-width: 100px;
  margin-bottom: 20px;
}

.profile-card {
  margin: 0 auto;
  padding: 20px 50px;
}

.side-bar {
  background-color: #363942;
  height: 100vh;
  border-right: 1px solid #23232E;
  /*box-shadow: 3px 0px 13px #969696;*/
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

@media (hover:hover){
  .about-box:hover {
    border-left: 5px solid #04BFBF;
    background-color: #444559;
  }

  .exp-box:hover {
    border-left: 5px solid #CAFCD8;
    background-color: #444559;
  }

  .edu-box:hover {
    border-left: 5px solid #F7E967;
    background-color: #444559;
  }

  .skill-box:hover {
    border-left: 5px solid #A9CF54;
    background-color: #444559;
  }

  .project-box:hover {
    border-left: 5px solid #588F27;
    background-color: #444559;
  }

  .contact-box:hover {
    border-left: 5px solid #94D7F2;
    background-color: #444559;
  }
}

.about-selected {
  border-left: 5px solid #04BFBF;
  background-color: #444559;
}

.exp-selected {
  border-left: 5px solid #CAFCD8;
  background-color: #444559;
}

.edu-selected {
  border-left: 5px solid #F7E967;
  background-color: #444559;
}

.skill-selected {
  border-left: 5px solid #A9CF54;
  background-color: #444559;
}

.project-selected {
  border-left: 5px solid #588F27;
  background-color: #444559;
}

.contact-selected {
  border-left: 5px solid #94D7F2;
  background-color: #444559;
}

.main {
  background-color: white;
}

.side-bar-text, .side-bar-icon {
  color: white;
  font-size: 20px;
}

.side-bar-text {
  color: white;
  text-align: center;
}

.icon {
  text-align: center;
  margin-right: 10px;
}

.side-box {
  border-bottom: 1px solid #23232E;
  padding: 10px 0;
}

.text-decoration-off:hover {
  text-decoration: none;
}

.logo {
  padding: 30px 0;
  background-color: #373b46;
  text-align: center;
  color: white;
  border-bottom: 1px solid #23232E;
}

.logo-text {
  margin-top: 0;
  font-family: Helvetica;
}

.header {
  width: 100%;
  /*background-color: #FFFAD5;*/
  color: #FFC72D;
  padding: 5px;
  font-size: 25px;
  margin: 5px 20px;
  border-bottom: 1px solid #ccc;
}

.header-odd {
  color: #006BB6;
}

#content {
  padding: 0;
}

.inner-content {
  margin: 0 50px;
}

.odd {
  padding: 20px;
}

.even {
  background-color: #3F424C;
  color: white;
  padding: 20px;
}

.side-icon-container {
  text-align: center;
  margin-top: 20px;
}

.contact-card {
  color: black;
  margin-top: 20px;
}

.contact-card h4 {
  display: inline-block;
  margin-left: 20px;
}

.bottom-icon {
  display: inline-block;
}

.side-icon {
  color: white;
  margin: 10px;
}

.side-icon:hover {
  color: lightblue;
}

.project-card {
  border: 2px solid #23232E;
  background: #F3F3F3;
  margin: 10px 0;
  padding-bottom: 10px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-radius: 5px;
  box-shadow: 4px 4px 16px 0px #1f1e1e;
}

.project-image {
  border-radius: 5px;
  width: 100%;
  height: 200px;
  background: lightgrey;
}

.project-description {
  margin: 10px 20px 0 20px;
  font-size: 14px;
  color: black;
  line-height: 1.5;
  font-family: "Roboto",sans-serif;
}

.project-title, .edu-title, .skill-title{
  color: #63A69F;
  margin-left: 10px;
  font-size: 24px;
  font-weight: 300;
  font-family: "Roboto",sans-serif;
}

.edu-title, .skill-title{
  font-size: 20px;
  margin: 10px 0;
  font-weight: 400;
}

.edu-title {
  color: #754E28;
}


@media (min-width: 992px) {
  .side-bar-text{
    text-align: left;
  }
  .first-card {
    margin-left: 35px !important;
  }
}

@media (max-width: 992px) {
  .phoenix {
    max-width: 150px;
  }
  .logo {
    padding: 15px 0;
  }
}

.contact-card h4 {
  font-size: 16px;
}
